

#main-heading{
    font-size: 75px;
    text-align: center;
    color: brown;   /*Main header text in a different color*/
    margin-bottom: 20px;
}

.sub-heading{
    color:rgb(215, 241, 153);
    font-size: 40px;
    background-color: rgb(255, 0, 0);   /*Background color for each header*/
    width: 900px;
    margin-bottom: -20px;
}

section{    
    background-color: aquamarine;   /*Background color for each section*/
    margin-bottom: -50px;
    margin-right: -50px;
}

img{
    width: 300px;
    border: 1px solid green;
    padding: 5px;   /*Photo padding*/
    margin-left: 100px;
    height: 180px;
}