

#main-heading{
    font-size: 75px;
    text-align: center;
    color: brown;   /*Main header text in a different color*/
    margin-bottom: 20px;
}

.sub-heading{
    color:rgb(215, 241, 153);
    font-size: 40px;
    background-color: rgb(255, 0, 0);   /*Background color for each header*/
    width: 885px;
    margin-bottom: 10px;
    padding-left: 20px;
    margin-top: 50px;
}


section{    
    background-color: aquamarine;   /*Background color for each section*/
    margin-bottom: -50px;
    margin-right: -50px;
    border: 1px solid green;/* CSS Box model*/ 
    height: 225px;
}

img{
    width: 300px;
    border: 1px solid green;
    padding: 5px;   /*Photo padding*/
    margin-left: 100px;
    height: 200px;
}

h3{
    padding-left: 25px;
    margin-bottom: 10px;
}

ul,ol{
    padding-left: 80px; 
    margin-top: 10px;
}

